* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: url(./assets/bg.jpg);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

body.context {
  cursor: crosshair;
}

.hide {
  display: none;
}

.ui {
  position: absolute;
}

.radialnav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 10000;
}

.radialnav-sector {
  fill: rgba(255,255,255,.3);
  stroke: rgba(255,255,255,0.1);
  stroke-width: 1;
  transition: all .4s;
}

.radialnav-sector.active {
  fill: rgba(255,255,255,.9);
}

.radialnav-icon {
  pointer-events: none;
  fill: #eee;
  transition: all .4s;
}

.radialnav-icon.active {
  fill: #333;
}

.radialnav-hint {
  fill: #eee;
  font: .95em 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  text-transform: uppercase;
  opacity: 0;
  transition: all .4s;
}

.radialnav-hint.active {
  opacity: 1;
}


.cross {
  r: 25;
  fill: rgb(228, 78, 78);
  stroke-width: 3;
}

.uncross {
  r: 25;
  fill: rgba(103, 58, 183, 0.63);
  stroke-width: 3;
}

.hint {
  fill: rgba(225, 225, 225, 0.3);
  stroke: #fff;
  stroke-width: 2;
  r: 30;
}

.touch {
  fill: transparent;
  stroke: #FFFFFF;
  opacity: 1;
  stroke-width: 5;
}
.untouch {
  fill: transparent;
  stroke: #FF3535;
  opacity: 0.8;
  stroke-width: 5;
}